//
// Components :: Slider
// --------------------------------------------------
.sh1 {
  opacity: .9;
  letter-spacing: 2px;
  font-weight: 700;
  font-family: $hfont;
  color: $mcolor;
}

.sh2 {
  font-weight: 700;
  font-family: $hfont;
  color: $mcolor;
}

.sh3 {
  font-size: 16px;
}

.sh1--white {
  @extend .sh1;
  color: $white;
}

.sh2--white {
  @extend .sh2;
  color: $white;
}

.sh3--white {
  @extend .sh3;
  color: $white;
}

.sh1--dark {
  @extend .sh1;
  color: $dmcolor;
}

.sh2--dark {
  @extend .sh2;
  color: $dmcolor;
}

.sh3--dark {
  @extend .sh3;
  color: $dmcolor;
}

.btn-play-video2 {
  border: 2px solid $white!important;
  background-color: $scolor;
  color: $white;
  width: 90px;
  height: 90px;
  text-align: center!important;
  display: block;
  border-radius: 50%;
  cursor: pointer;

  i {
    line-height: 86px!important;
    font-size: 48px!important;
  }
}

.btn-play {
  @include lg {
    width: 150px!important;
    height: auto!important;
  }
}

.btn-close-video {
  font-size: 30px;
  color: $black;
}

.slider-home-03 {

  .video-desc {
    color: $white;
    font-weight: 700;
  }
  
  .btn-close-video {
    font-size: 30px;
    color: $white;
  }
}


.slider-home-05 {
  width: 100vw;
  overflow: hidden;

  .btn-slider-05 {
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: $white;
    font-size: 30px;
    background-color: rgba($white, .2);
    transition: $transition-base;
    padding: 0;
    text-align: center!important;

    i {
      line-height: 40px;
      text-align: center;
    }

    &:hover,
    &:focus {
      box-shadow: none;
      outline: 0;
      background-color: rgba($white, .5);
    }
  }
}

.slider-home-07 {
  max-height: 700px;
}

.slider-home-08 {
  .btn-play-video {
    color: $white;
    font-size: 14px;
    font-weight: 700;
    font-family: $hfont;

    i {
      color: $scolor;
      font-size: 30px;
      padding-right: 8px;
    }
  }

  ul.list-social02 {
    display: flex;
    flex-direction: column;
    width: 30px;

    li {
      margin: 0;
    }
  }
}

.extra-bold {
  font-weight: 800!important;
}
